altair
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
gitdb
GitPython
greenlet
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
Pympler
PyMySQL
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
smmap
soupsieve
SQLAlchemy
stack-data
streamlit
widgetsnbextension
zipp

